
img:hover {
  animation: hover 1s forwards;
}

body {
  background-color: transparent;
}

:root {
  background-image: linear-gradient(to bottom, #875eda, #738adf, #7970d3, #bc7be2);
  background-size: 100% 800vh;
  animation: launch 3s forwards, motion 10s infinite alternate;
  animation-timing-function: linear;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  margin-left: -2.5%;
  left: 10%;
  top: 15%;
  gap: 10px;
}

.music-reroll {
  grid-column: 3;
  background-image: url(assets/reroll.webp);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.music-button {
  grid-column: 1;
  background-image: url(assets/play.webp);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.music {
  top: 0%;
  grid-column: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  padding: 10px 25px;
}

.hi {
  position: absolute;
  top: 2.5%;
  right: 37%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  padding: 10px 25px;
  width: fit-content;
}

.youtube {
  position: absolute;
  top: 35%;
  right: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 100px;
  padding: 30px 40px;
  width: fit-content;
  height: fit-content;
}

.etcy {
  display: relative;
  align-items: center;
  width: 25%;
  height: auto;
  margin: 0 auto;
  margin-left: 37.5%;
  margin-top: 7%;
  border-radius: 250px;
}

.clock {
  display: grid;
  place-items: center;
  display: relative;
  width: 35%;
  margin-left: 31.5%;
  margin-top: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-radius: 50px;
  padding: 0px 20px;
  text-align: center;
}

.font {
  font-family: 'Cascadia Mono', monospace;
  font-style: italic;
}

@keyframes hover {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.1)
  }
}

@keyframes motion {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}

@keyframes launch {
  0% {
    opacity: 0;
    filter: brightness(0.1);
    filter: blur(100px)
  }
  25% {
    opacity: 1;
    filter: brightness(0.8);
    filter: blur(30px);
  }
  50% {
    opacity: 1;
    filter: brightness(1);
    filter: blur(0px)
  }
}
